@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
body {
  background-color:rgb(16, 70, 110);
  font-family: 'Share Tech Mono';
  text-align: center;
  color:white;
  width:1100px;
  padding:50px;
  text-align: center;
}